/* General Styles */
.header {
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    transition: background-color 0.4s ease;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    height: var(--header-height);
    padding: 2rem 2rem;
    z-index: 10;
  }
  
  .nav__logo {
    display: flex;
    align-items: center;
    color: var(--first-color);
    transition: color 0.4s;
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold);
    margin-right: 2rem;
    margin-top: 0.5rem;
  }
  
  .nav__logo-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--first-color);
    margin-right: 14px;
  }
  
  /* Styling untuk teks logo */
  .nav__logo-text {
    font-weight: var(--font-semi-bold);
    color: var(--first-col);
    margin-top: 3rem;
    align-items: center;
    font-size: 16px;
  }
  
  .nav__logo-container {
    display: flex;  /* Flexbox untuk menata logo dan teks secara horizontal */
    align-items: center;  /* Menyelaraskan secara vertikal */
  }
  
  /* Mobile Menu Styling */
  @media screen and (max-width: 1150px) {
    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;
      position: relative;
      height: var(--header-height);
      padding: 2rem 2rem;
    }
    
    .header {
      width: 100%;
      top: 0;
      left: 0;
      background-color: transparent;
      z-index: var(--z-fixed);
      transition: background-color 0.4s ease;
    }
  
    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: rgba(12, 12, 12, 0.8); /* Darker and more opaque */
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        width: 80%;
        height: 100%;
        padding: 6rem 2rem 0;
        transition: right 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
  
    .nav__toggle {
        display: block; /* Show the toggle in mobile view */
        font-size: 2rem;
        color: var(--title-color);
        cursor: pointer;
        margin-top: 4rem;
    }
  
    .nav__close {
        display: block;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        font-size: 2rem;
    }
  
    .show-menu {
        right: 0;
    }
  
    .nav__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 2.5rem;
        padding: 0;
    }
  
    .nav__link {
        color: var(--title-color);
        font-weight: var(--font-semi-bold);
        font-size: var(--normal-font-size);
        transition: color 0.3s;
        text-transform: uppercase;
        padding: 0.5rem 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        width: 100%;
    }
  
    .nav__logo-img {
        width: 60px;
        height: 60px;
        margin-top: 3rem;
    }
  }
  
  /* Desktop Menu Styling */
  @media screen and (min-width: 1151px) {
  
    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;
      position: relative;
      height: var(--header-height);
      padding: 3rem 2rem;
    }
  
    .nav__menu {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: auto;
        background-color: transparent;
        padding: 0;
        right: 0;
    }
  
    .nav__list {
        display: flex;
        flex-direction: row;
        column-gap: 2rem;
        margin-top: 1rem;
    }
  
    .nav__link {
        color: var(--title-color);
        font-weight: var(--font-semi-bold);
        font-size: var(--normal-font-size);
        transition: color 0.4s;
        padding: 0.5rem 1rem;
        border-radius: 5px;
    }
  
    .nav__link:hover {
        color: var(--first-color);
        background-color: rgba(255, 255, 255, 0.89);
        transform: translateY(-2px);
    }
  
    .nav__logo-text {
      font-weight: var(--font-semi-bold);
      color: var(--first-col);
      align-items: center;
      margin-bottom: 2.5rem;
    }
  
    .nav__logo-img {
      width: 60px;
      height: 60px;
      margin-top: 0.5rem;
  }
  }
  
  /* Button Styling */
  .nav__cta {
    background-color: var(--first-color);
    color: var(--title-color);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 0.75rem 1.5rem;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  }
  
  .nav__cta:hover {
    background-color: var(--first-color-alt);
  }
  